/*Estilos CSS*/

:root { /* Definição de variáveis para as cores */
	--vermelho: #e50914;
	--preto: #141414;
}

* { /* Definindo as margens da página */
	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Elementos base*/

body {	
	background: var(--preto);
	font-family: 'Times New Roman', Times, serif;
	color: #fff;
	
}

header .container {
	display:flex;
	flex-direction: row;
	align-items: center;
	background-color: #000; 
	justify-content: space-between;
	font-family: Arial Black;
	
}

header .logo {
	color: var(--vermelho);
	font-family: 'Arial Black', Times;
	font-size: 40px;
	margin-left: 5px;
}

header nav a{
	text-decoration:none;
	color: #aaa;
	margin-right: 50px;
	
}

header nav a:hover{
	
	color: #fff;
	
}

/*Filme principal*/

.filme_principal {
	font-size: 16px;
	background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url("../img/the_big_bang_theory.jpg");
	background-size: cover;
	height: 390px;	
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-bottom: 30px;
	margin-bottom: 10px;
}

.filme_principal .descricao{
	margin-bottom: 30px;
	font-family: arial;
	max-width: 70%;
	
}

.botao {
	background-color: rgba(0,0,0,.90);
	border: none;
	color: #fff;
	margin-right: 15px;
	padding: 15px;
	font-size:12px;
	cursor: pointer;
	transition: .3s ease all;
	
}

.botao i{
	margin-right: 10px;
}

.botao:hover{
	background-color: white;
	color: #000;
}


.container1{
	margin-left:20px;
}

.descricao{
	
}

.titulo {
	
	margin-top: 20%;
	font-size: 60px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}


/*Elementos do carrosel*/
.box_filme {
	height: 100%;
	width: 100%;
	display: block;
}

.carrosel-filmes {
	margin-top: 50px;
}

.titulo_carrousel {
	font-family: Arial black;	
}

/*Classes para banner das páginas dos filmes*/

.pagina_filme{
	background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url("../img/the_big_bang_theory.jpg");	
	height: 620px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	background-size: cover;
}

.that{
	background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url("../img/carrossel/that_70s_show.jpg");	
	height: 620px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	background-size: cover;
}

.pokemon{
	background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url("../img/carrossel/Pokemon.jpg");	
	height: 620px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	background-size: cover;
}

.pink{
	background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url("../img/carrossel/Pink_e_o_cerebro.jpg");	
	height: 620px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	background-size: cover;
}

.lucifer{
	background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url("../img/carrossel/lucifer.jpg");	
	height: 620px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	background-size: cover;
}

.how{
	background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url("../img/carrossel/how_i_meet_you_mother.jpg");	
	height: 620px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	background-size: cover;
}

.house{
	background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url("../img/carrossel/house.jpg");	
	height: 620px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	background-size: cover;
}

.hawaii{
	background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url("../img/carrossel/hawaii_five_zero.jpg");	
	height: 620px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	background-size: cover;
}

.friends{
	background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url("../img/carrossel/Friends.jpg");	
	height: 620px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	background-size: cover;
}

.dragon{
	background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url("../img/carrossel/dragon_ball_z.jpg");	
	height: 620px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	background-size: cover;
}

.animaniacs{
	background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url("../img/carrossel/animaniacs.jpg");	
	height: 620px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	background-size: cover;
}

.titulo_filme{
	font-family: Arial black;
	font-size:55px;
	padding-left: 30px;
	padding-top: 200px;
	margin-bottom: 20px;
	align-content: center;
	align-items: center;

}
.video{
	height: 280px;
	display: flex;
	flex-direction:column;
	justify-content: flex-end;
	align-items: flex-end;
	padding-left: 10px;
	
	}	



figure { width: 90%; min-width: 320px; margin:0 auto;}
figcaption { font: 120% sans-serif; text-align: center;}
video {
    width: 100%;
	height: auto;}

